@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css');

body {
    // color: white;
    background-color: lightblue;
}

section {
    display: flex;
    justify-content: center;

    #input,
    input {
        border-radius: 4px;
        border: none;
        font-size: 16px;
        padding: 15px;
        caret-color: aqua;
        color: aqua;
    }

    .to-do-list {
        list-style: none;
        padding-left: 0;

        .to-do-item {
            position: relative;
            background-color: #f2f2f2;
            padding: 15px;
            margin-bottom: 10px;
            transition: background-color 0.3s ease;
            border-radius: 4px;

            &:hover {
                cursor: pointer;
            }

            &:hover:not(.to-do-item--done) {
                background-color: aqua;
            }

            &--done {
                text-decoration: line-through;
                opacity: 0.5;
            }

            .remove {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                padding: 16px;
                color: black;
                opacity: 1;
            }

            i {
                padding-right: 6px;
            }
        }
    }
}
