* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

.article {
    max-width: 600px;
    margin: 0 auto;
    display: flex;

    &__content {
        display: flex;
        flex-direction: column;
    }
}
